@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .head1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .head2 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .icon {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .line {
    width: 170px;
    height: 1.6px;
    background-color: #021b79;
  }

  .phoneNo {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }

  .contactDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;

    .iconDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
